/* Mulish google font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* Shared styles */
* {
  font-family: "Mulish", sans-serif;
  padding: 0px;
  max-width: 1250px;
  margin: 0px auto;
}

:root {
  --primary-color: #ff5400;
  --secondary-color: #131318;
}

.primary-btn {
  border-radius: 8px;
  background: var(--primary-color);
  border: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 16px 36px;
}

.section-title {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

main {
  margin: 50px 135px;
}

main section {
  margin-bottom: 100px;
}

/* Header related style start*/
/* NavBar related style */
nav {
  /* border: 2px solid red; */
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  /* border: 2px solid rgb(18, 201, 58); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

nav .logo .logo-title {
  color: var(--secondary-color);
  font-size: 2.25rem;
  font-weight: 800;
}

nav .nav-list {
  /* border: 2px solid rgb(182, 21, 120); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

nav .nav-list a {
  color: #424247;
  text-align: center;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
}

nav span {
  color: var(--primary-color);
}

/* Banner related style */
.banner {
  /* border: 2px solid red; */
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("/Images/banner-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 500px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .banner-title {
  color: #fff;
  font-family: Mulish;
  font-size: 4rem;
  font-weight: 800;
}

.banner .banner-description {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 676px;
  margin: 30px auto;
}

.banner-form {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
}

.banner-form input {
  border-radius: 8px;
  border: 0;
  background: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 16px 36px;
}

/* Header related style end*/

/* Main related style start*/

/* Our popular tour section */
.popular-tour {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.popular-tour .popular-tour-img {
  width: 100%;
}

.popular-tour .popular-tour-item {
  margin: 20px;
  padding-right: 20px;
}

.popular-tour .popular-tour-content .primary-btn {
  margin: 20px 0px;
}

/* Choose your destination section */
.choose-destination .choose-destination-content {
  text-align: center;
}

.choose-destination .choose-destination-content .section-description {
  width: 643px;
  margin-bottom: 50px;
}

.choose-destination .choose-destination-images {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  grid-template-areas:
    "a b"
    "c d e"
    "f g";
}

.choose-destination .choose-destination-images .grid-item {
  position: relative;
  text-align: center;
}

.choose-destination .choose-destination-images .a {
  grid-column: 1 / 2;
  grid-row: 1/3;
  /* grid-area: a; */
}

.choose-destination .choose-destination-images .b {
  grid-column: 2 / 2;
  grid-row: 1/3;
  /* grid-area: b; */
}
.choose-destination .choose-destination-images .c {
  grid-column: 1 / 3;
  grid-row: 2/3;
  /* grid-area: c; */
}
.choose-destination .choose-destination-images .d {
  grid-column: 2 / 3;
  grid-row: 2/3;
  /* grid-area: d; */
}
.choose-destination .choose-destination-images .e {
  grid-column: 3 / 3;
  grid-row: 2/3;
  /* grid-area: e; */
}
.choose-destination .choose-destination-images .f {
  grid-column: 1 / 2;
  grid-row: 3/3;
  /* grid-area: f; */
}
.choose-destination .choose-destination-images .g {
  grid-column: 2 / 2;
  grid-row: 3/3;
  /* grid-area: g; */
}

.choose-destination .choose-destination-images img {
  width: 100%;
  height: 100%;
}

.choose-destination .choose-destination-images .grid-item .img--inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
}

/* Why choose us section */
.choose-us .choose-us-content {
  text-align: center;
}

.choose-us .choose-us-content .choose-us-description {
  width: 643px;
  margin-bottom: 80px;
}

.choose-us .choose-us-cards {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  grid-template-areas:
    "a b"
    "c";
}

.choose-us .choose-us-cards .card {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px 50px 32px 32px;
}

.choose-us .choose-us-cards .card .card-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 20px 0px;
}

.choose-us .choose-us-cards .card .card-description {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* Newsletter section style */
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.newsletter .newsletter-content {
  padding: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 16px;
  width: 45%;
}

.newsletter .newsletter-content .newsletter-form-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.newsletter .newsletter-content .newsletter-form-description {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 16px 0px;
}

.newsletter .newsletter-content .newsletter-form input,
button {
  width: 100%;
  border: 0;
  margin: 10px 0px;
  padding: 15px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}

.newsletter .newsletter-img {
  width: 45%;
  position: relative;
}

.newsletter .newsletter-img .img-banner {
  transform: rotate(-20deg);
  border-radius: 16px;
  background: #ff5400;
  padding: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.newsletter .newsletter-img .img-banner .img-banner-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.newsletter .newsletter-img .img-banner .img-banner-description {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

/* Main related style end*/

/* Footer related style start*/
footer {
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 300px;
    text-align: center;
}

footer .logo {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 16px;
  }
  
  footer .logo .logo-title {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 800;
  }

  footer span {
    color: var(--primary-color);
  }


  .footer-content .footer-description {
    width: 765px;
    text-align: center;
    margin: 30px auto;
  }

  .footer-content .social-site {
    text-align: center;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
  }

  .footer-content .social-site a{
    color: var(--secondary-color);
    font-size: 1.5rem;
  }

  .footer-content hr {
    background: rgba(19, 19, 24, 0.10);
    margin: 50px auto;
  }
/* Footer related style end*/
